@font-face {
  font-family: 'Norse-Bold';
  src: url('Norse.woff') format('woff');
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.left-section {
	background-color: antiquewhite;
	width: 40vw;
	height: 100vh;
	color: black;
	position: relative;
	background-image: url("https://images.pexels.com/photos/1407305/pexels-photo-1407305.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.hero {
  position: absolute; /* Add absolute positioning to position .hero relative to .left-section */
  top: 25%; /* Adjust the percentage as needed (30% to start 30% below the top) */
  height: 18%; /* Set the desired height of .hero (20% of .left-section's height) */
  width: 100%;
  background: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
	height: 80%;
}

.logo img {
	max-height: 100%;
	width: auto;
}

.name {
	color: white;
	font-family: 'Norse-Bold', sans-serif; /* Use the custom font you defined */
  	font-size: 75px; /* Set the desired font size */
}

.right-section {
	background-color: lightgray;
	width: 60vw;
	height: 100vh;
	color: black;
	display: flex;
	flex-direction: column;
}

.upper-text {
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 40px;
	justify-content: center;
	margin: 100px 15vh 80px 60px;
}

.main-form {
	background-color: white;
	height: 40%;
	box-shadow: 0 5px 5px gray;
	padding: 20px 20px 20px 40px;
	display: flex;
	flex-direction: column;
}

.main-form p {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 40px;
	margin: 0 0 50px 20px;
}

.name-section {
	display: flex;
	flex-direction: row;
}

.first_name, .last_name, .email_section {
	display: flex;
	flex-direction: column;
	width: 30%;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 500;
	margin: 0 30px 30px 20px;
}

label {
	color: dimgray;
}

input[type=text], input[type=email] {
	margin-top: 10px;
	height: 30px;
	border: 2px solid lightgray;
	border-radius: 5px;
	font-size: 25px;
	padding: 5px;
}

input[type=text]:focus, input[type=email]:focus {
	outline: none;
	border: 3px solid darkolivegreen;
}

.lower-section {
	margin-top: 20px;
}

.lower-section p {
	color: black;
	font-size: 25px;
	margin: 30px 0 0 60px;
	font-family: 'Roboto', sans-serif;
}

.lower-section a {
	color: darkolivegreen;
	text-decoration: none;
}

.lower-section a:hover {
	text-decoration: underline;
}

#sign-in {
	color: white;
	background-color: darkolivegreen;
	padding: 20px 65px;
	border-radius: 10px;
	margin: 20px 0 0 60px;
	font-size: 20px;
}

#sign-in:hover {
	cursor: pointer;
}

